<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1053699764854-sdstji1j23f2gn00qrab4b8q7ou2uqn4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1053699764854-sdstji1j23f2gn00qrab4b8q7ou2uqn4</string>
	<key>API_KEY</key>
	<string>AIzaSyDNkv4eZD9ohjZpIQ1eejB3CzSfIhkfm5g</string>
	<key>GCM_SENDER_ID</key>
	<string>1053699764854</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.socialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-d2734</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-d2734.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1053699764854:ios:864c83191441d422846557</string>
</dict>
</plist>